footer {
    background: $color-theme-dark;
    height: 40px;
    border-top: solid 5px $color-theme-primary-base;
    border-bottom: solid 5px $color-theme-dark;

    .footer-text {
        color: $color-theme-light;
        text-align: center;
        line-height: 30px;
    }
}