.container-team-info {
    .team-info-about .infoarea-text {
        padding-left: 20px;
        border-left: 5px solid #E91E63;
    }

    .team-info-work .infoarea-header {
        padding-left: 20px;
        border-left: 5px solid #E91E63;
        border-bottom: 5px solid #E91E63;
    }
}