@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.carousel {
    width: 100%;
    height: inherit;

    .carousel-content {
        // position: absolute;
        width: inherit;
        height: initial;
        overflow: hidden;
        padding: 40px 0;
    }

    .carousel-content-color-primary { background: $color-theme-primary-base; }
    .carousel-content-color-secondary { background: $color-theme-secondary-base; }
    .carousel-content-color-dark { background: $color-theme-dark; }
    .carousel-content-color-light { background: $color-theme-light; }
    .carousel-content-color-red { background: $color-red-500; }
    .carousel-content-color-pink { background: $color-pink-500; }
    .carousel-content-color-purple  { background: $color-purple-500; }
    .carousel-content-color-deep-purple  { background: $color-deep-purple-500; }
    .carousel-content-color-indigo  { background: $color-indigo-500; }
    .carousel-content-color-blue  { background: $color-blue-500; }
    .carousel-content-color-light-blue  { background: $color-light-blue-500; }
    .carousel-content-color-cyan  { background: $color-cyan-500; }
    .carousel-content-color-teal  { background: $color-teal-500; }
    .carousel-content-color-green  { background: $color-green-500; }
    .carousel-content-color-lightgreen  { background: $color-light-green-500; }
    .carousel-content-color-lime  { background: $color-lime-500; }
    .carousel-content-color-yellow  { background: $color-yellow-500; }
    .carousel-content-color-amber  { background: $color-amber-500; }
    .carousel-content-color-orange  { background: $color-orange-500; }
    .carousel-content-color-deep-orange  { background: $color-deep-orange-500; }
    .carousel-content-color-brown  { background: $color-brown-500; }
    .carousel-content-color-grey  { background: $color-grey-500; }
    .carousel-content-color-blue-grey  { background: $color-blue-grey-500; }

    .carousel-decoration {
        height: inherit;
        overflow: hidden;
        pointer-events: none;

        img {
            display: block;
            margin: auto;
        }
    }

    .carousel-decoration > .wave-animation {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        .wave {
            position: absolute;
            width: 100%;
            overflow: hidden;
            height: 100%;
            bottom: -1px;
            .wave-bg {
                position: absolute;
                left: 0;
                width: 200%;
                height: 100%;
                background-repeat: repeat no-repeat;
                background-position: 0 bottom;
                transform-origin: center bottom;
            }
            .wave-bg-top {
                background-size: 50% 100px;
                background-image: url('/img/style/wave-top.png');
                animation: move-wave 3s;
                -webkit-animation: move-wave 3s;
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
            }
            .wave-bg-middle {
                background-size: 50% 120px;
                background-image: url('/img/style/wave-middle.png');
                animation: move_wave 10s linear infinite;
            }
            .wave-bg-bottom {
                background-size: 50% 100px;
                background-image: url('/img/style/wave-bottom.png');
                animation: move_wave 15s linear infinite;
            }
        }
        .wave-top { z-index: 15; opacity: 0.5; }
        .wave-middle { z-index: 10; opacity: 0.75; }
        .wave-bottom { z-index: 5; }
    }
}