.githubstats {
    .githubstats-header {
        width: max-content;
        padding: 10px 0;
        margin: 0;
    }
}

.githubstats-dark {
    background: $color-theme-dark;
    * {
        color: $color-theme-text-primary-light;
    }
}

.githubstats-light {
    background: $color-theme-light;
    * {
        color: $color-theme-text-primary-dark;
    }
}