.githubstats {
    .githubstats-header {
        width: max-content;
        padding: 10px 0;
        margin: 0;
    }
}

.githubstats-dark {
    background: $color-theme-dark;
    * {
        color: $color-theme-text-primary-light;
    }
}

.githubstats-light {
    background: $color-theme-light;
    * {
        color: $color-theme-text-primary-dark;
    }
}

.githubstats-block {
    margin-top: 32px;
    padding-top: 20px;
    width: 100%;
    background: $color-theme-dark;

    * {
        text-align: center;
    }

    &:hover {
        background: $color-theme-primary-dark;
    }

    .block-icon > * {
        font-size: 2em;
    }

    .block-value {
        font-size: 2em;
        line-height: 2em;
    }
}