.navbar-disgraded {
    padding-top: 0;
    padding-bottom: 0;

    .navbar-brand {
        padding: 0;
        height: inherit;
         img {
            height: 90px;
         }
    }

    .navbar-nav {

        .nav-item {
        
            padding: 5px 10px;

            .nav-link {
                font-size: 1.25em;
                text-transform: uppercase;
                text-align: center;
                height: inherit;
            }
        }
    }
}