.front-carousel {
    width: 100vw;
    height: inherit;
    background: #000;
    overflow: hidden;

    .carousel-background {
        width: inherit;
        height: inherit;
        position: absolute;
        overflow: hidden;

        img {
            display: block;
            margin: auto;
        }
    }

    .carousel-content {
        position: relative;
        height: inherit;
        overflow: hidden;
    }
}